@media only screen and (max-width: 764px) {
  #header-bg{
    height: 100% !important;
  }
  // Advanture onboard
  #advantre {
    .location-grid {
      display: grid;
      grid-template-areas:
        "card1" "card2"
        "card1" "card3"
        "card4" "card4";
      grid-gap: 1rem;
      
    }
   
  }
}
