@media only screen and (max-width: 576px) {
  // Advanture onboard
  #advantre {
    .location-grid {
      display: grid;
      grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4";
      grid-gap: 1rem;
      padding: 0 1.4rem;
    }
  }
}
